<p-card header={{articulo.title}} subheader={{articulo.author}} [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="articulo.urlToImage">
    </ng-template>
    <ul>
        <li> <strong> Description  </strong> {{articulo.description}} </li>
        <!-- <li> <strong>Altitud: </strong> {{nevado.altitud}} </li>
        <li> <strong>Actividad Volcánica: </strong> {{nevado.actividad_volcanica}} </li> -->
    </ul>
    <!-- <ng-template pTemplate="footer">
        <div fxLayout="row">
            <button pButton label="ver" [routerLink]="['/articulo/ver', articulo.title]" icon="pi pi-check"></button>
            <button pButton label="Editar" [routerLink]="['/nevado/editar', nevado.id]" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></button>-->
    <!-- < </div> -->
    <!-- </ng-template> -->
</p-card>